@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply font-heading;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(69, 24, 112, 0.8281512434075192) 7%,
    rgba(9, 9, 121, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  );
}
